<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flarelane">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <meta-data
            android:name="com.flarelane.default_firebase_app_id"
            android:value="1:415602473946:android:98a2ad40916ab031e59ee3" />
        <meta-data
            android:name="com.flarelane.default_firebase_project_id"
            android:value="flarelane-public" />
        <meta-data
            android:name="com.flarelane.default_firebase_api_key"
            android:value="AIzaSyC44DyZywKLyQH3AVXZrLbGu7VDJosMKQ0" />

        <receiver
            android:name=".FCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter android:priority="999" >
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <activity android:name=".NotificationConvertedActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>